<div class="ui right floated white submit button">
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </div>
<img class="ui centered big image" src="https://images.unsplash.com/photo-1520520731457-9283dd14aa66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="AmazingTrips">
<h1>Click a Trip to view details</h1>
<div class="ui massive relaxed divided list">
<% @trips.each_with_index do |trip| %>
<div class="ui segment">
  <div class="item">
    
    <div class="content">
     <h1><i class="ui plane icon"></i>
     <a class="header"><%= link_to trip.name, trip %></a></h1>
     <h3><%= trip.start_date %> - <%= trip.end_date %></h3>
     <br />
      <div class="description">Click to view</div>
      </div>
    </div>
  </div>
  <% end %>
</div>
